@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');


body {
	width: 96vw;
	margin: 1.5vh;
	min-width: 200px;

	margin-left: auto;
	margin-right: auto;
	border: 0px;
	background-image: url("../res/background.gif");
	background-repeat: repeat;
	background-size: 50px;

	/*background-color: whitesmoke;
	/*padding-top:20px;
	padding-bottom: 20px;
	padding-right: 2%;
	padding-left: 2%;*/
	/*position: fixed;*/

}


header {

	padding-top: 0.2%;
	padding-left: 0.3%;
	font-family: 'Cedarville Cursive';
	color: black;
	font-size:calc(0.7vw + 0.7vh + 0.7vmin);



}

header a{
	color: black;
}


.card{

	margin: 0px;
	width: 96vw;
	height: 92vh;
	min-height: 200px;
	border-radius: 25px;
	margin-bottom: 3%;
	background-position: center;
	background-size: cover;
	background-color: #e8d3ca;
	position: relative;
	align-content: center;
	
	overflow: hidden;
	display: inline-block;
}

.img{


	float: left;
	height: 100%;
	width: 50%;
	max-width: 50%;
	position: relative;
	background-image: url('../res/1.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: contain;
	background-position:center;
	
}


.imgcenter{


	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}

.info{

	width: 50%;
	float: right;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.name{

	font-size: calc(7vw + 1vh + 1vmin);
	font-family:Montserrat;
	font-weight: 100;
	padding-bottom: 1%;
	float: left;
	width: 100%;

}

.transcription{

	float: left;
	font-family:Perpetua;
	font-weight: 100;
	width: 100%;
	font-size: calc(1vw + 1vh + 0.5vmin);
}

.definition{
	
	float: left;
	font-family:Garamond;
	font-weight: 100;
	width: 100%;
	font-style: italic;
	font-size: calc(0.7vw + 0.7vh + 0.5vmin);
	padding-top: 1%;


}

.job{
	
	float: left;
	font-family:Montserrat;
	font-weight:normal;
	width: 100%;
	font-size: 25px;
	padding-top: 1%;
	font-size: calc(0.7vw + 0.7vh + 0.7vmin);

}

.cardcontact{

	float: left;
	width: 100%;
	padding-top: 2%;
	margin-bottom: 5%;

}

.cardcontact a{
	padding-right: 3%;
	color: black;
	font-size: calc(0.7vw + 0.7vh + 0.7vmin);
}




.intro{

	background-color: #e2e2e2;
	width: 96vw;
	height: 92vh;
	border-radius: 25px;
	min-height: 200px;
	margin-bottom: 3%;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	align-content: center;
	position: relative;
	padding: 2%;
	display: inline-block;
	
}

.intro-text{
	width: 45%;
	float: left;
	margin-left: 5%;
	font-size: calc(1vw + 0.5vh + 0.5vmin);
    font-family: Roboto;
	text-align: justify;
	font-weight:300;
    color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    line-height: 1.5;

}




.intro-head{
	font-size: calc(3vw + 2vh + 1vmin);;
	font-family: Roboto;
	padding-bottom: 3%;
}






.trans{
    font-weight: 700;
    color: #e2e2e2;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;	
}




a.button {
	appearance: button;
	margin-top: 5%;
	display: inline-block;
	padding: calc(0.25vw + 0.25vh + 0.25vmin);
	font-size: calc(0.7vw + 0.5vh + 0.25vmin);
	cursor: pointer;
	text-align: center;
	text-decoration: none;



	font-family: Roboto;

	font-weight:500;
    color: black;

	background-color: #b1adad ;
	padding-left: 2%;
	padding-right:2%;
	border-width: 1%;
	border-radius: 10px;

  }
  
  .button:hover {
	  background-color: #5a5a5a;
	  color: whitesmoke;
}
  
  .button:active {
	background-color: #5a5a5a;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }


  .intro-img{


	float: right;
	height: 100%;
	width: 45%;
	max-width: 45%;
	position: relative;
	background-image: url('../res/2.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 60%; 
	/*background-attachment: fixed;*/

	
}


.education{

	background-color: #948b91;
	margin: 0px;
	width: 96vw;
	height: 92vh;
	border-radius: 25px;
	min-height: 200px;
	margin-bottom: 3%;
	background-position: center;
	background-size: cover;
	position: relative;
	align-content: center;
	overflow: hidden;
	display: inline-block;

}

.img3{

	float: left;
	padding: auto;
	text-align: center;
	height: 100%;
	width: 50%;
	max-width: 50%;
	position: relative;
	background-image: url('../res/3.png');
	background-repeat: no-repeat;
	background-color: #dfcbd7;
	background-size: 40%;
	background-position: inherit;
	background-attachment: fixed;
	
	
}

.edutext{

	
	font-size: calc(3vw + 3vh + 1.5vmin);
	font-weight: 700;
    color: #dfcbd7;
	text-shadow: 0 0 1px #808080, 0 0 1px #808080, 0 0 1px whitesmoke, 0 0 1px whitesmoke;	
	
}

.text{

	margin-top: 4.5%;
	height: 33.333%;
	width: 100%;
	display: inline-block;
	position: relative;
	align-self: center;
}

.edu-info{
	
	width: 50%;
	float: left;

	padding-left: 5%;
	padding-right: 5%;
	font-size: calc(0.9vw + 0.9vh + 0.25vmin);
    font-family: Montserrat;

    font-weight:300;
    color: whitesmoke;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.contact{

	position: relative;
	background-color: #8a918d;
	background-image: url('../res/7.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: contain;
	font-family:Montserrat;
    color: whitesmoke;
	margin-bottom: 2%;
	
	overflow: hidden;
	padding: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
	margin: 0px;
	width: 96vw;
	height: 92vh;
	min-height: 200px;
	border-radius: 25px;
	margin-bottom: 3%;
	background-position:center;
	background-size:contain;
	align-content: center;
	display: inline-block;
}

.contact-intro{

	width: 50%;
	float: right;
	position:absolute;
	text-align: justify;
	align-self: center;
	align-content: center;
	top: 80%;
	transform: translateY(-50%);
	color: whitesmoke;
	font-size: calc(0.9vw + 0.9vh + 0.4vmin);
	overflow: hidden;
	padding-right: 5%;
	margin-top:2.5%;
	margin-bottom: 4%;
}

.contact-intro a{
	padding-right: 2vw;
	color: whitesmoke;
	font-size: calc(1vw + 1vh + 0.5vmin);
}

.contact-head{
	margin-top: 4%;
	width: 50%;
	float: left;
	position: relative;
	font-weight: bolder;

	font-size: calc(2vw + 2vh + 1vmin);

	

}


.arrow-down{
	position: absolute;
    bottom: 0;
    right: 0;
	padding: 2em;
	
}

.arrow-down a{
	color: rgb(70, 70, 70);
}
.arrow-down a:hover {
	text-decoration: none;
	color: whitesmoke;
}

footer{
	text-align: center;
	font: montserrat;
	margin: auto;
}