@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');


body {
	width: 95vw;
	padding: 5px;
	margin: auto;
	border: 0px;
	background-image: url("../res/background.gif");
	background-repeat: repeat;
	background-size: 50px;
	
	/*background-color: whitesmoke;
	/*padding-top:20px;
	padding-bottom: 20px;
	padding-right: 2%;
	padding-left: 2%;*/
	/*position: fixed;*/

}


header {

	padding-top: 10px;
	padding-left: 10px;
	font-family: 'Cedarville Cursive';
	color: black;
	font-size:20px;
	margin-bottom: 5px;


}

header a{
	color: black;
}


.card{

	width: 92vw;
	height: 92vh;
	min-width: 500px;
	min-height: 600px;

	background-position: center;
	background-size: cover;
	background-color: #e8d3ca;
	position: relative;
	align-content: center;
	border-radius: 25px;
	margin-bottom: 30px;
	overflow: hidden;
	display: inline-block;
}

.img{


	float: left;
	height: 100%;
	width: 50%;
	max-width: 50%;
	position: relative;
	background-image: url('../res/1.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: contain;
	background-position:center;
	
}


.imgcenter{


	max-width: 100%;
	max-height: 100%;
	position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.info{

	width: 50%;
	float: right;
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.name{

	font-size: 9.0vw;
	font-family:Montserrat;
	font-weight: 100;
	padding-bottom: 10px;
	float: left;
	width: 100%;

}

.transcription{

	float: left;
	font-family:Perpetua;
	font-weight: 100;
	width: 100%;
	font-size: 25px;
	font-size: 1.5vw;
}

.definition{
	
	float: left;
	font-family:Garamond;
	font-weight: 100;
	width: 100%;
	font-style: italic;
	font-size: 20px;
	padding-top: 10px;
	font-size: 1.0vw;

}

.job{
	
	float: left;
	font-family:Montserrat;
	font-weight:normal;
	width: 100%;
	font-size: 25px;
	padding-top: 10px;
	font-size: 1.5vw;

}

.cardcontact{

	size: 200px;
	float: left;
	color: black;
	width: 100%;
	font-weight: 900;
	padding-top: 10px;

}

.cardcontact a{
	padding-right: 10px;
	color: black;
	font-size: 1.5vw;
}




.intro{

	background-color: #e2e2e2;
	/*background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
	/*background-image: radial-gradient(ellipse farthest-corner at 0 20%, #e2e2e2  50%, #e2e2e2  70%, #c2dae6 70%);
	/*linear-gradient(135deg,#c2dae6 70%, #71b5e6 60%);*/

	width: 92vw;
	height: 92vh;
	min-width: 500px;
	min-height: 600px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	align-content: center;
	border-radius: 25px;
	position: relative;
	padding: 2%;
	margin-bottom: 30px;
	display: inline-block;
	
}

.intro-text{
	width: 50%;
	float: left;

	padding-left: 5%;
	padding-right: 5%;
	font-size:2vw;
    font-family: Roboto;
	text-align: justify;
	font-weight:300;

    color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    

}




.intro-head{

	font-size: 4vw;
	/*font-weight: 700;*/
	font-family: Roboto;
	padding-bottom: 5%;
	/*text-decoration: underline overline line-through;*/
}






.trans{

    font-weight: 700;
    color: #e2e2e2;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
	
}




a.button {
	appearance: button;
	margin-top: 2vw;
	display: inline-block;
	padding: 0.5vw;
	font-size: 1.5vw;
	cursor: pointer;
	text-align: center;
	text-decoration: none;



	font-family: Roboto;

	font-weight:300;
    color: black;

	background-color: #b1adad ;
	padding-left: 1vw;
	padding-right:1vw;
	border-width: 1px;
	border-radius: 10px;

  }
  
  .button:hover {
	  background-color: #5a5a5a;
	  color: whitesmoke;
}
  
  .button:active {
	background-color: #5a5a5a;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }


  .intro-img{


	float: right;
	height: 100%;
	width: 50%;
	max-width: 50%;
	position: relative;
	background-image: url('../res/2.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center; 
	/*background-attachment: fixed;*/

	
}


.education{

	background-color: #948b91;
	width: 92vw;
	height: 92vh;
	min-width: 500px;
	min-height: 600px;
	background-position: center;
	background-size: cover;
	border-radius: 25px;
	position: relative;
	align-content: center;
	margin-bottom: 30px;
	overflow: hidden;
	display: inline-block;

}

.img3{

	float: left;
	padding: auto;
	text-align: center;
	height: 100%;
	width: 50%;
	max-width: 50%;
	position: relative;
	background-image: url('../res/3.png');
	background-repeat: no-repeat;
	background-color: #dfcbd7;
	background-size: 40%;
	background-position: inherit;
	background-attachment: fixed;
	
	
}

.edutext{

	
	font-size:7vw;
	font-weight: 700;
    color: #dfcbd7;
	text-shadow: 0 0 1px #808080, 0 0 1px #808080, 0 0 1px whitesmoke, 0 0 1px whitesmoke;	
	
}

.text{
	padding-top: 5%;
	margin-top: 1vh;
	height: 30%;
	width: 100%;
	display: inline-block;
	position: relative;
	align-self: center;
}

.edu-info{
	
	width: 50%;
	float: left;

	padding-left: 5%;
	padding-right: 5%;
	font-size:1.5vw;
    font-family: Montserrat;

    font-weight:300;
    color: whitesmoke;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.contact{

	position: relative;
	background-color: #8a918d;
	background-image: url('../res/7.gif');
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: contain;
	font-family:Montserrat;
    color: whitesmoke;
	margin-bottom: 20px;
	
	overflow: hidden;
	padding: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
	width: 92vw;
	height: 92vh;
	min-width: 500px;
	min-height: 600px;
	background-position:center;
	background-size:contain;

	align-content: center;
	border-radius: 25px;
	margin-bottom: 30px;
	display: inline-block;
}

.contact-intro{

	width: 50%;
	float: right;
	position:absolute;
	text-align: justify;
	align-self: center;
	align-content: center;
  top: 80%;
  transform: translateY(-50%);
  color: whitesmoke;
  font-size:1.5vw;
  overflow: hidden;
	padding-right: 5%;
	margin-top:2.5%;
	margin-bottom: 4%;
}

.contact-intro a{
	padding-right: 2vw;
	color: whitesmoke;
	font-size: 1.5vw;
}

.contact-head{
	margin-top: 4%;
	width: 50%;
	float: left;
	position: relative;
	text-align: center;

	font-weight: bolder;

  font-size:4vw;

	

}


.arrow-down{
	position: absolute;
    bottom: 0;
    right: 0;
	padding: 2em;
	
}

.arrow-down a{
	color: rgb(70, 70, 70);
}
.arrow-down a:hover {
	text-decoration: none;
	color: whitesmoke;
}

footer{
	text-align: center;
	font: montserrat;
	margin: auto;
}